$gray:  #686868;

#btn1{
			font-size: 14px;
			font-family: Arial;
			border-radius: 4px;
			text-align: center;
			padding: 10px;
			color: $gray;
			width: 130px;		
}

	
	#btn2{
			font-size: 14px;
			font-family: Arial;
			border-radius: 4px;
			text-align: center;
			padding: 10px;
			color: $gray;
			width: 130px;
					
	}
